.swiper-pagination {
  bottom: 10px !important; /* Điều chỉnh vị trí dưới cùng của pagination */
}

/* Trong file CSS hoặc SCSS */
.swiper-pagination-bullet {
  width: 7px !important; /* Điều chỉnh kích thước của các chấm */
  height: 7px !important;
  margin: 0 7px !important; /* Điều chỉnh khoảng cách giữa các chấm */
  opacity: 0.3 !important; /* Điều chỉnh độ trong suốt của các chấm */
  border-radius: 50% !important; /* Làm cho các chấm hình tròn */
  cursor: pointer !important; /* Biến con trỏ thành bàn tay khi di chuột qua */
  /* transition: background-color 0.3s ease !important; Hiệu ứng chuyển động khi di chuột qua */
}

.swiper-pagination-bullet-active {
  background-color: #0079f9 !important; /* Màu sắc của chấm hiện tại */
  opacity: 1 !important; /* Điều chỉnh độ trong suốt của các chấm */
}

.swiper-button-prev,
.swiper-button-next {
  top: var(--swiper-navigation-top-offset, 45%);
  top: none !important;
  margin-top: none !important;
}
