.category {
  margin-top: 100px;

  .categoryWatch {
    .img {
      width: 100%;
      height: 150px;
      object-fit: cover;
    }

    .btn {
      width: 120px;
      border: none;
      border-radius: 5px;
      height: 40px;
      letter-spacing: 0.5px;
      font-size: 12px;
      font-weight: bold;
      user-select: none;
      text-transform: uppercase;
    }
  }

  .categoryBag {
    .img {
      width: 100%;
      height: 150px;
      object-fit: cover;
    }

    .btn {
      width: 120px;
      border: none;
      border-radius: 5px;
      height: 40px;
      letter-spacing: 0.5px;
      font-size: 12px;
      font-weight: bold;
      user-select: none;
      text-transform: uppercase;
    }
  }

  .categoryShirt {
    .img {
      width: 100%;
      height: 304px;
      object-fit: cover;
    }

    .btn {
      width: 120px;
      border: none;
      border-radius: 5px;
      height: 40px;
      letter-spacing: 0.5px;
      font-size: 12px;
      font-weight: bold;
      user-select: none;
      text-transform: uppercase;
    }
  }

  .categoryHat {
    .img {
      width: 100%;
      height: 150px;
      object-fit: cover;
    }

    .btn {
      width: 120px;
      border: none;
      border-radius: 5px;
      height: 40px;
      letter-spacing: 0.5px;
      font-size: 12px;
      font-weight: bold;
      user-select: none;
      text-transform: uppercase;
    }
  }

  .categoryGlasses {
    .img {
      width: 100%;
      height: 150px;
      object-fit: cover;
    }

    .btn {
      width: 120px;
      border: none;
      border-radius: 5px;
      height: 40px;
      letter-spacing: 0.5px;
      font-size: 12px;
      font-weight: bold;
      user-select: none;
      text-transform: uppercase;
    }
  }

  .categoryTrousers {
    .img {
      width: 100%;
      height: 150px;
      object-fit: cover;
    }

    .btn {
      width: 120px;
      border: none;
      border-radius: 5px;
      height: 40px;
      letter-spacing: 0.5px;
      font-size: 12px;
      font-weight: bold;
      user-select: none;
      text-transform: uppercase;
    }
  }

  .categoryBelt {
    .img {
      width: 100%;
      height: 150px;
      object-fit: cover;
    }

    .btn {
      width: 120px;
      border: none;
      border-radius: 5px;
      height: 40px;
      letter-spacing: 0.5px;
      font-size: 12px;
      font-weight: bold;
      user-select: none;
      text-transform: uppercase;
    }
  }

  .categoryJacket {
    .img {
      width: 100%;
      height: 150px;
      object-fit: cover;
    }

    .btn {
      width: 120px;
      border: none;
      border-radius: 5px;
      height: 40px;
      letter-spacing: 0.5px;
      font-size: 12px;
      font-weight: bold;
      user-select: none;
      text-transform: uppercase;
    }
  }

  .categoryShoes {
    .img {
      width: 100%;
      height: 150px;
      object-fit: cover;
    }

    .btn {
      width: 120px;
      border: none;
      border-radius: 5px;
      height: 40px;
      letter-spacing: 0.5px;
      font-size: 12px;
      font-weight: bold;
      user-select: none;
      text-transform: uppercase;
    }
  }
}
