.navbar {
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #ffffff;
  height: 80px;
  position: sticky;
  top: -2px;
  z-index: 1000;
  border-bottom: 1px solid #bdbdbd;

  .logo {
    font-size: 35px;
    font-family: "Times New Roman", Times, serif;
    letter-spacing: 8px;
    color: #555;
  }

  .search {
    border-radius: 5px;

    .searchInput {
      border: none;
      outline: none;
      height: 35px;
      border-radius: 5px;
      padding-left: 10px;
      width: 400px;
    }
    .searchBtn {
      border: none;
      color: rgb(107, 106, 106);
      height: 35px;
      width: 35px;
      border-radius: 5px;
    }
  }

  .userImg {
    width: 35px;
    border-radius: 100%;
    object-fit: cover;
  }
}

ion-icon {
  font-size: 25px;
}
